* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
}

button {
    cursor: pointer;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    appearance: auto;
    writing-mode: horizontal-tb !important;
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;

    text-decoration: none;
    color: black;

    padding: 0px 5px;
    margin: 7px 10px;
    cursor: pointer;
    font-size: 0.75em;
    border-radius: 3px;
    user-select: none;
}

body {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    color: #24292f;
    background-color: #ffffff;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 18px;
    line-height: 1.5;
    word-wrap: break-word;
    max-width: 1400px;
    margin: 10px auto;
    padding: 15px;
}

ul li {
    list-style-type: none;
}

@media screen and (max-width: 600px) {
    body {
        font-size: 14px;
        margin: 0;
        padding: 10px;
    }
}

nav {
    height: 64px;
    line-height: 64px;
}

nav ul {
    float: right;
}

input {
    font-size: 1em;
}

button.block-btn, a.block-btn {
    display: inline-block;
    height: 20px;
    font-weight: bold;
    padding: 5px 10px;
    line-height: 20px;
    font-size: 1em;
    font-family: monospace;
    text-decoration: none;
    color: #333;
    border: 2px solid #ff003b;
    text-align: center;
    position: relative;
    transition: all .35s;
    text-transform: uppercase;
}

button.block-btn {
    height: unset;
    cursor: pointer;
    color: #333;
}

button.block-btn p, a.block-btn span{
    position: relative;
    z-index: 2;
}

button.block-btn:after, a.block-btn:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ffd8e1;
    transition: all .35s;
}

a.block-btn:hover {
    color: #fff;
}

button.block-btn:hover:after, a.block-btn:hover:after{
    width: 100%;
}

body h2,
body h3,
body h4,
body h5,
body h6 {
    margin-top: 24px;
    margin-bottom: 16px;
    line-height: 1.25;
}


h1 {
    margin-bottom: 10px;
}

h2 {
    font-size: 1em;
    padding-bottom: 50px;
    max-width: 400px;
}

hr {
    margin-bottom: 20px;
    max-width: 400px;
}

.links li {
    display: inline-block;
}
.links a {
    margin-right: 10px;
}

form div {
    margin-bottom: 10px;
}

#sidebar {
    padding-top: 30px;
    height: 100%;
    min-height: 500px;
    display: block;
    float: left;
    width: 200px;
    min-width: 200px;
    max-width: 200px;
}

#main {
    display: block;
    float: left;
}

#main-container-flex-row {
    display: flex;
    flex-direction: row;
}

button {
    padding: 0px 5px;
    margin: 7px 10px;
}
#main-table-actions > div {

}

#main-table-actions > div input[type="checkbox"] {
    margin-left: 7px;
    transform: translate(0px, 2px);
}

#main-table-actions > div button {
    
}

#main-table-header > div {
    display: flex;
    flex-direction: row;
}

#main-table-header > div p {
    display: flex;
    flex-grow: 1;
    min-width: 50px;
    border-bottom: 2px solid grey;
    line-height: 2;
    box-sizing: border-box;
    border-right: 2px solid #ccc;
    padding: 0px 5px;
}
#main-table-data {
    display: flex;
    overflow-y: scroll;
}

#main-table-data > div div {

}

#main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#main-table-filter {
    border: none;
    margin-bottom: 5px;
    border-bottom: 2px solid #ce0101;
}

#main-table {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#main-table-actions {
    background: black;
    display: flex;
    flex-grow: 0;
    border-radius: 2px;
    margin-bottom: 5px;
}

#main-table-data > div {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

#main-table-data > div > div {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
}

#main-table-data > div > div > div {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
}

#main-table-data > div > div p,
#main-table-data > div > div input[type="text"] {
    font-size: 0.8rem;
}

.row-cell {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 50px;
    line-height: 2;
}